<h1>Datos Personales</h1>
@model Personal

@Html.LabelFor(m=>m.name, "Name"): @Model.name 

@Html.LabelFor(m=>m.lastname, "Lastname"): @Model.lastname  

@Html.LabelFor(m=>m.age, "Age"): @Model.age

@Html.LabelFor(m=>m.Email, "Email"): @Model.Email

@Html.LabelFor(m=>m.number, "Number"): @Model.number
